<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="TwitchVRNotifications.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="TwitchVRNotifications.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <TwitchVRNotifications.Properties.Settings>
            <setting name="BotUsername" serializeAs="String">
                <value />
            </setting>
            <setting name="AppClientId" serializeAs="String">
                <value />
            </setting>
            <setting name="AppSecret" serializeAs="String">
                <value />
            </setting>
            <setting name="MessagePrefix" serializeAs="String">
                <value />
            </setting>
            <setting name="TestUsername" serializeAs="String">
                <value />
            </setting>
            <setting name="TestMessage" serializeAs="String">
                <value />
            </setting>
            <setting name="MessagePrefixOn" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Entropy" serializeAs="String">
                <value />
            </setting>
            <setting name="AccessToken" serializeAs="String">
                <value />
            </setting>
            <setting name="BotChatToken" serializeAs="String">
                <value />
            </setting>
            <setting name="AccessTokenCreated" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BotChannel" serializeAs="String">
                <value />
            </setting>
            <setting name="AllowFollower" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AllowSubscriber" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AllowModerator" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AllowVIP" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IgnoreBroadcaster" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IgnoreUsers" serializeAs="String">
                <value />
            </setting>
            <setting name="AvatarEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AvatarFrameEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NotifyConnectivity" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NotifySubscribed" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NotifyHosted" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NotifyRaided" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AvatarBadgesEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UpgradeNeeded" serializeAs="String">
                <value>True</value>
            </setting>
        </TwitchVRNotifications.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="OpenTK" publicKeyToken="bad199fe84eb3df4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.2.0" newVersion="4.1.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.4.1" newVersion="4.0.4.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <TwitchVRNotifications.Properties.Settings>
      <setting name="Version" serializeAs="String">
        <value>v2.1.49</value>
      </setting>
    </TwitchVRNotifications.Properties.Settings>
  </applicationSettings>
</configuration>
